.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.list-group-item {
    padding: 10px;
}

.btn {
    margin-right: 10px;
}

.alert {
    margin-bottom: 20px;
}

.photos-container {
  overflow-x: auto;
}

.photo-slider {
  display: flex;
  flex-wrap: nowrap;
}

.project-photo {
  width: 300px; 
  height: auto; 
  margin-right: 10px; 
}