@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1),
    hsla(216, 41%, 79%, 1)
  );
  height: 100vh;
}

/* ******* */

button {
  all: unset;
}

textarea:focus,
input:focus {
  outline: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  max-width: 80rem;
  padding: 0 3.2rem;
  border-radius: 100px;
  background-color: #fff;
  padding: 1rem 4rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: uppercase;
}

.main {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}
