.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 33%;
  padding-top: 7.2rem;
  height: 100%;
}

.navLayout {
  display: flex;
  align-items: center;
}

.line {
  border-radius: 1.5px;
  background-color: #adb5bd;
  width: 3px;
  margin-left: 9.5px;
  margin-right: 0.75rem;
}

.navItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.navLink {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0.5rem 1.5rem;
  width: 100%;
  text-align: start;
  box-sizing: border-box;
}

.navLink:hover {
  border-radius: 0.75rem;
  background-color: #e7f5ff;
  font-weight: 500;
  color: #339af0;
}

.dropdownOpen .navItems {
  margin-top: 1rem;
}

.dropdownButton {
  position: relative;
}

.dropdownContentContainer {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
}

.dropdown .dropdownContent {
  display: block;
}

.dropdownButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrowIcon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.rotate180 {
  transform: rotate(180deg);
}
