.pageLayout {
  display: grid;
  gap: 1rem;
  width: 42rem;
  margin: 8rem auto;
}

.container {
  background-color: #fbf8f6;
  border-radius: 1.5rem;
  padding: 2rem;
}

.formTitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
}

.formRow {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 0.75rem;
  box-sizing: border-box;
  cursor: text;
  padding: 0.4375rem 1rem;
}

.formRow:hover {
  background-color: #f8f8f8;
}

.formRowInner {
  flex-grow: 1;
  padding-top: 1rem;
  position: relative;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  background: #0000;
  border: none;
  line-height: 1.5;
  outline: none;
  padding: 0;
  width: 100%;
}

.subInput {
  border-radius: 8px;
  padding: 5px 10px;
  border: none;
  text-align: center;
}

.subInput::placeholder {
  text-align: center;
}

.subInput:focus {
  outline: none;
}

.subInput:focus::placeholder {
  opacity: 0;
}

.label {
  color: #767676;
  cursor: text;
  left: 0;
  position: absolute;
  top: 0.25rem;
  font-size: 0.75rem;
}

.button {
  background-color: #333;
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  width: 100%;
  align-self: flex-end;
  margin-top: 1rem;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 1rem;
  border: 1px solid #e9ecef;
}

.categoryNameDeleteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.categoryNameEditContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.categoryInfo {
  display: flex;
  flex-direction: column;
}

.requireLocationAddSubCategoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.subCategoriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.operations {
  align-self: flex-end;
  justify-self: end;
}

.editCategoryContainer {
  display: flex;
  align-items: center;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  justify-content: space-around;
}

.iconContainer {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  width: 1.25rem;
}

.iconLabel {
  font-size: 0.8rem;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #c8c8c8;
  background-color: initial;
  color: #333;
  height: 2.5rem;
  padding: 0.25rem 1.5rem;
  align-items: center;
  text-align: center;
  border-radius: 0.75rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  justify-content: center;
  text-decoration: none;
}

.subCategoryContainer {
  padding: 10px;
  border: 1px solid #0d5f07;
  background-color: #ebfbee;
  color: #0d5f07;
  border-radius: 100px;
  width: fit-content;
  font-weight: 600;
  font-size: 0.8rem;
}

.noSubCategoryMessage {
  padding: 20px 0 0 0;
  color: #666;
  font-style: italic;
}

.successMessage {
  color: #40c057;
}

.errorMessage {
  color: #e03131;
}

.message {
  text-align: center;
}

.divider {
  border-bottom: 1px solid #666;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
