.container {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-size: cover;
  background-position: center;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  color: #18412d;
  text-align: center; /* Yeni eklenen özellik: Metin hizalama */
}

.subText {
  font-size: 16px;
  text-align: center; /* Yeni eklenen özellik: Metin hizalama */
}

.button {
  border-radius: 12px;
  background-color: #fff;
  color: #008748;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
}

/* Yeni eklenen stil kuralları */

.randomProjects {
  margin-top: 2rem; /* Rastgele projeler bileşeninden ana bileşene boşluk ekle */
}

.projectList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Projeleri bir sıra dışına sığmalarını sağla */
}

.projectLink {
  text-decoration: none;
}

.projectCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 300px; /* Kartların genişliğini ayarla */
  background-color: #f9f9f9;
}

.projectImageContainer {
  height: 200px; /* Proje resim konteynerinin yüksekliğini ayarla */
  overflow: hidden; /* Aşırı büyük resimleri kırpmak için taşmayı gizle */
}

.projectImage {
  width: 100%;
  height: auto;
  object-fit: cover; /* Resimlerin konteyneri doldurmasını sağla */
}

.noImage {
  text-align: center;
  color: #777;
}
