.container {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-size: cover;
  background-position: center;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  color: #18412d;
  text-align: center;
}

.subText {
  font-size: 16px;
  text-align: center;
}

.button {
  border-radius: 12px;
  background-color: #fff;
  color: #008748;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
}

.randomProjects {
  margin: 2rem 0 3rem 0; /* Rastgele projeler bileşeninden ana bileşene boşluk ekle */
}

.projectList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* Projeleri bir sıra dışına sığmalarını sağla */
}

.projectLink {
  text-decoration: none;
}

.projectCard {
  border: 1px solid #00ffbf;
  border-radius: 8px;
  padding: 1rem;
  width: 400px; /* YATAYLIK */
  background-color: #f9f9f9;
}

.projectImageContainer {
  height: 200px;
  overflow: hidden;
}

.projectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.noImage {
  text-align: center;
  color: #777;
}

.projectContainer {
  position: relative;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.prevButton,
.nextButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prevButton {
  left: 48rem;
}

h2 {
  margin: 0;
  text-align: center;
}

.nextButton {
  right: 48rem;
}
