.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 36rem;
  height: 40rem;
  background-color: hsla(0, 0%, 100%, 0.01);
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  backdrop-filter: blur(16px);
  /* color: white; */
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
