.container {
  padding: 4rem 8rem 1rem;
}

.content {
  font-size: 1rem;
  line-height: 1.4;
  padding-bottom: 2rem;
}

.button {
  background-color: #333;
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.875rem 1.5rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  width: 9.375rem;
  align-self: flex-end;
  margin-top: 1rem;
}
