.container {
  /* margin-top: 6rem; */
  /* width: 50%; */
  /* background-color: #fbf8f6; */
  /* border-radius: 1.5rem; */
  /* padding: 0 16rem; */
}

.formTitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  /* margin-bottom: 2rem; */
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 35rem;
  width: 100%;
  gap: 2.25rem;
}

.formRow {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 0.75rem;
  box-sizing: border-box;
  cursor: text;
  display: flex;
  padding: 0.4375rem 1rem;
}

.formRow:hover {
  background-color: #f8f8f8;
}

.formRowInner {
  flex-grow: 1;
  padding-top: 1rem;
  position: relative;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  background: #0000;
  border: none;
  line-height: 1.5;
  outline: none;
  padding: 0;
  width: 100%;
}

.label {
  color: #767676;
  cursor: text;
  left: 0;
  position: absolute;
  top: 0.25rem;
  font-size: 0.75rem;
}

.validationContainer {
  border-radius: 1rem;
  background-color: #e7f0f7;
  padding: 1rem;
}

.requirements {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.requirement {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.button {
  background-color: #333;
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.875rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  width: 100%;
  align-self: flex-end;
  margin-top: 1rem;
}
