.pageLayout {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
}

.title {
  font-size: 24px;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.sortContainer {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.sortSelect {
  margin-top: 10px;
}

.contentLayout {
  display: flex;
}

.sidebar {
  width: 250px;
  margin-right: 20px;
}

.searchInput,
.targetAmountInput {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.categoryList {
  margin-bottom: 20px;
}

.mainCategory {
  font-weight: bold;
  cursor: pointer;
  padding: 5px 0;
}

.subCategory {
  padding-left: 20px;
  cursor: pointer;
  padding: 3px 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  flex-grow: 1;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.cardContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card {
  background-color: #fff;
}

.cardBody {
  padding: 20px;
}

.projectTitle {
  margin-top: 0;
  margin-bottom: 10px;
}

.projectContent {
  margin-bottom: 20px;
}

.projectDetail {
  margin-bottom: 10px
}

.projectImagesContainer {
  margin-bottom: 20px;
}

.projectImagesContainer h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.projectImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.noPhotos {
  font-style: italic;
  color: #666;
}

.breadcrumb {
  margin: 20px 0;
  font-size: 14px;
}

.breadcrumb a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  color: #007bff;
}

.breadcrumb span {
  color: #666;
}

.breadcrumb a::after {
  content: "›";
  margin: 0 5px;
  color: #999;
}

.breadcrumb a:last-child::after {
  content: none;
}
