.progressBar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.tab {
  border-bottom: 2px solid #333;
  padding-bottom: 4px;
}

.disabled {
  pointer-events: none;
  color: gray;
}
