.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.projectCard {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px 0;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
    transform: translateY(-5px);
}

.coverImage {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px; /* Fotoğraf ile bilgiler arasında boşluk bırakmak için */
}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.description, .info {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.info {
    font-weight: bold;
}

.rejectionReason {
    color: #ff6b6b;
    font-weight: bold;
}

@media (max-width: 768px) {
    .projectCard {
        width: 100%;
        flex-direction: column;
    }

    .projectDetails {
        margin-left: 0; /* Mobil görünümde fotoğraf ile bilgiler arasında boşluk bırakmak için */
        margin-top: 10px; /* Mobil görünümde fotoğraf ile bilgiler arasında biraz boşluk bırakmak için */
    }

    .coverImage {
        width: 100%;
        height: auto;
        margin-bottom: 10px; /* Mobil görünümde fotoğrafın altında biraz boşluk bırakmak için */
    }
}
