html,
body {
  height: 100%;
  margin: 0;
}

.layoutContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.leftContainer {
  width: 34%;
  padding: 4rem 3.5rem 2.5rem;
  background-color: #fbf8f6;
}

.rightContainer {
  border-radius: 3.75rem 0 0 0;
  background-color: #fff;
  width: 66%;
  box-shadow: 1.625rem 0.25rem 2.9375rem #c8c8c8;
}

.formHeader {
  padding: 3.5rem 3.5rem 0 0;
  text-align: right;
}

.formContainer {
  padding: 4rem 8rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fbf8f6; /* Arka plan rengini buraya taşıdık */
  flex-grow: 1; /* Esnek büyüme */
}

.sidebarText {
  height: 8.5rem;
  padding-top: 5rem;
}

.sidebarTitle {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}

.formTitle {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formRow {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 0.75rem;
  box-sizing: border-box;
  cursor: text;
  display: flex;
  padding: 0.4375rem 1rem;
}

.formRow:hover {
  background-color: #f8f8f8;
}

.formRowInner {
  flex-grow: 1;
  padding-top: 1rem;
  position: relative;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  background: #0000;
  border: none;
  line-height: 1.5;
  outline: none;
  padding: 0;
  width: 100%;
}

.label {
  color: #767676;
  cursor: text;
  left: 0;
  position: absolute;
  top: 0.25rem;
  font-size: 0.75rem;
}

.fileSelector {
  width: 100%;
  padding-top: 0.8rem;
}

.formSubLink {
  text-decoration: underline;
}

.button {
  background-color: #333;
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.875rem 1.5rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  width: 9.375rem;
  align-self: flex-end;
}

.imagePreviewContainer {
  display: flex;
  flex-wrap: wrap;
}

.imagePreviewItem {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.imagePreview {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.coverPhotoButton {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  visibility: hidden;
}

.imagePreviewItem:hover .coverPhotoButton {
  visibility: visible;
}

.coverIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverIcon::after {
  content: 'V';
  color: white;
}

.deletePhotoButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.deletePhotoButton:hover {
  transform: scale(1.1);
}

.tiptapContainer {
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

.tiptapEditor {
  height: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.tiptapLabel {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.map-section {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}
