.projectDetailContainer {
  margin: 120px auto;
  padding: 0 12.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  display: flex;
  gap: 2rem;
}

.sliderContainer {
  border-radius: 10px;
  width: 730px;
}

.mainImageContainer {
  position: relative;
}

.mainImage {
  border-radius: 10px;
  width: 100%; /* Genişliği tamamen dolduracak şekilde ayarla */
  height: 400px; /* Yüksekliği 400px olarak sabitle */
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.prevButton:hover,
.nextButton:hover {
  background: rgba(0, 0, 0, 0.7);
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 360px;
  height: fit-content;
  gap: 1.5rem;
}

.tagsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.mainTag {
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 5px 10px;
  background: linear-gradient(
    90deg,
    hsla(58, 100%, 68%, 1) 0%,
    hsla(33, 100%, 53%, 1) 100%
  );
}

.subTag {
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 5px 10px;
  background: linear-gradient(
    90deg,
    hsla(167, 68%, 73%, 1) 0%,
    hsla(178, 59%, 48%, 1) 100%
  );
}

.remainingTime {
  display: flex;
  flex-direction: column; /* Alt satıra kaydırmak için flex-direction column */
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.breadcrumb {
  align-self: flex-start;
  margin: 10px 0;
  font-size: 1rem;
}

.breadcrumb a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  color: #007bff;
}

.breadcrumb span {
  color: #666;
}

.breadcrumb a::after {
  content: '›';
  margin: 0 5px;
  color: #999;
}

.breadcrumb a:last-child::after {
  content: none;
}

.projectSubInfo {
  background-color: #fff;
  width: 100%;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.button {
  color: #fff;
  border-radius: 100px;
  padding: 0.875rem 1.5rem;
  border: none;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  width: 9.375rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* button:nth-of-type(1):hover {
  background-color: #b2f2bb;
  transform: scale(1.05);
}

button:nth-of-type(2):hover {
  background-color: #ccc;
  transform: scale(1.05);
} */

/* button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:disabled:hover {
  background-color: initial;
  transform: none;
} */
