.nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.nav-link.active:hover {
    background-color: #007bff;
    color: #fff;
}

.nav-link:hover {
    background-color: #f8f9fa;
}


.nav-link[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    color: #6c757d; 
}


.nav-link[disabled]:hover {
    text-decoration: none; 
}
