.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #343a40;
  border-radius: 100px;
  padding: 0 2rem;
  width: 64rem;
  height: 4rem;
  margin-top: 1rem;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
