.auth-nav {
    background-color: #08f30c;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-link {
    text-decoration: none;
    color: #fff;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-left: 20px;
  }
  
  li:first-child {
    margin-left: 0;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ecf0f1;
  }
  